@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

:root {
  --green-400: hsl(172, 67%, 45%);
  --green-900: hsl(183, 100%, 15%);
  --grey-500: hsl(186, 14%, 43%);
  --grey-400: hsl(184, 14%, 56%);
  --grey-200: hsl(185, 41%, 84%);
  --grey-50: hsl(189, 47%, 97%);
  --white: hsl(0, 100%, 100%);
}

body {
  font-size: 16px;
  background-color: var(--grey-200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--grey-500);
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 10px;
  overflow-wrap: break-word;
  inline-size: 100px;
  margin: 2rem 0;
}

main {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 2rem;

  label {
    display: block;
    margin-bottom: 0.3rem;
    color: var(--grey-500);
  }

  input {
    width: 100%;
    border: none;
    padding: 0.3rem 0.8rem;
    background-color: var(--grey-50);
    border-radius: 5px;
    font-size: 1.5em;
    color: var(--green-900);
    text-align: right;
    &:focus {
      outline: none;
      border: 2px solid var(--green-400);
    }
  }

  /* Remove spin buttons from input[type="number"] */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .icon {
    position: absolute;
    top: 2.65rem;
    left: 1rem;
    fill: var(--green-900);
  }
}

.tip-label {
  padding-bottom: 0.6rem;
}

.tip-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.tip-button {
  background-color: var(--green-900);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;

  &:hover {
    background-color: var(--green-400);
    color: var(--green-900);
  }
}

.results {
  background-color: var(--green-900);
  color: var(--white);
  padding: 1rem;
  border-radius: 15px;
}

.result-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0.5rem;

  span {
    font-size: 0.8rem;
    color: var(--grey-400);
  }

  .result-value {
    font-size: 2rem;
    font-weight: 700;
    color: var(--green-400);
  }
}

.reset-button {
  width: 100%;
  background-color: var(--green-400);
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  color: var(--green-900);
  cursor: pointer;
  margin: 1rem 0 0.6rem 0;

  &:hover {
    background-color: var(--grey-200);
    color: var(--green-900);
  }
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.no-zero-error {
  border: 2px solid rgb(211, 114, 78);
}

.error-message {
  display: none;
  color: rgb(211, 114, 78);
  font-size: 1rem;
  position: absolute;
  right: 0.2rem;
  top: 0;
}

.active {
  background-color: var(--grey-200);
  color: var(--green-900);
}

@media (min-width: 801px) {
  main {
    display: flex;
    justify-content: space-between;
    width: 920px;
    height: 480px;
    margin-top: 2.5rem;
  }
  .inputs {
    width: 50%;
    height: 100%;
    padding: 1.3rem;
  }

  .results {
    width: 45%;
    padding: 2rem;

    .result-group {
      padding-top: 0.8rem;
    }

    .result-value {
      font-size: 2.8rem;
    }
  }

  .tip-buttons {
    grid-template-columns: repeat(3, 1fr);
  }

  .reset-button {
    margin-top: 6rem;
  }
}
